body {
    font-family: 'Segoe UI', sans-serif;
 
    background-color: azure;
}

h1{
    color:#66BFBF;

}
h3{
    color:#66BFBF;
}

hr {
    border-style: none;
    border-top: dotted;
    border-color: dimgrey;
    border-width: 5PX;
    height: 0px;
    width: 5%;
}



}

span {
    font-style: italic;
}
